@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Interfont.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --theme-color: #B4DA00;
  --theme-color-light: rgba(180, 218, 0, 0.15);
  --theme-color-dark: #91B400;
}
